h3{
    color:deepskyblue;
    margin-left: 33px;
    margin-top: 20px;
}

.hF{
    width: 100%;
}

.hFFc{
    width: 100%;
}

.hFFce{
    width: 89%;
}

.container{
    margin-top: 22px;
    margin-left: 23px;
    margin-right: 29px;
    background-color:gold ;
    width: 100%;
    position: relative;
    left: 75px;
    right: 79px;
    // border-style: groove;
}


// .container 
.s{
    background-color:gold;
    margin-right: 33px;
    margin-left: 33px;
}

.container .form-group{
    padding-bottom: 12px;
    padding-left: 2px;
   
}